.header {
  text-align: center;
}
.header img {
  height: 80px;
}
.header nav {
  background-color: black;
  line-height: 40px;
  font-size: 20px;
}

.header nav a {
  text-transform: uppercase;
  color: rgb(112, 102, 138);
  text-decoration: none;
  margin-right: 20px;
  padding: 7px;
}

.header nav a:hover {
  color: blue;
  background-color: rgb(112, 102, 138);
}
